@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&family=Vollkorn:ital,wght@1,500&display=swap');
:root{
    --main-color:#080808;
    --text: #e22b2b; 
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Tilt Neon', sans-serif;
    box-sizing: border-box;
    transition: 1s ease;
}
html{
    /* font-size: 65%; */
    /* overflow: hidden; */
    scroll-behavior: smooth;

 }
 
html::-webkit-scrollbar-thumb{
    background:#fff;
    border-radius: 5rem;
}

body{
    background-color:var(--main-color);
    color: white;
}

section{
    padding: 0 1%;
}
#header{
    width: 100%;
    height:100vh ;
    background-image: url(w2.jpg) no-repeat fixed center;
    background-size: cover;
    background-position: center  ;
}
 .logo {
    margin-left:4rem;
    font-size: 2.5rem;
    cursor:pointer;
 }
 .logo::first-letter{
    font-size: 5rem;
    color: var(--text); 
 }
 .logo:hover{
    text-decoration:var(--text) underline;
   transition: 0.2s ease-in-out;
   transform:rotate(360deg);
 }

 .container{
    padding: 10px 14%;
 }
 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 nav ul li {
    display: inline-block;
    margin: 10px 20px;
 }

 nav ul li a{
    color: white;
   text-decoration: none;
   font-size: 1.2rem ;
   position: relative;
 }

 nav ul li a::after{
    content: '';
    width: 0;
    height: 0.2rem ;
    background: #e22b2b;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.2s linear ease-in-out;
 }
 nav ul li a:hover::after{
    width: 100%;
 }
.header-text{
    margin-top: 12%;
    font-size: 2rem;
}
.header-text h1{
    font-size: 60px;
    margin-top: 0;

}
.header-text h1 span{
    color: var(--text);
}

/* ---------About */
#about{
padding: 80px 0;
color: #fff
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col{
flex-basis: 35%;
}

.about-col img{
    width: 100%;
    border-radius: 12%;
}

.about-col1{
    flex-basis: 58%;
}
.sub{
    font-size: 2.5rem;
    color: #fff;
    font-weight: bold;
    text-decoration: #e22b2b underline;
}
.role{
    font-size: 1.2rem;
    color: #fff;
}
.title{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size:1.2rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;

}
.tab-links::after{
    content: '';
    width: 0;
    height:0.2rem;
    background: var(--text);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.2s linear ease-in-out;
}
.icons{
    color: #fff;
    position: relative;
    left: -107px;
    top: -35px;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents{
    margin: 10px 0;
}
.tab-contents ul li span{
    color: var(--text);
    font-size: 1.2rem;
    line-height: 2;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
display: block;
}

/* Projects */
#project{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 150px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #e22b2b);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 40px;
    font-size: 1.2rem;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;

}
.layer a{
    margin-top: 20px;
    color: #e22b2b;
    text-decoration: none;
    line-height: 60px;
    background: white;
    font-size: 18px;
    width: 60px;
    height: 60px;
    border-radius: 50% ;
    text-align: center;
}
.work:hover img{
    transform: scale(1.2);

}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #e22b2b;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;

}
.btn:hover{
    background: #e22b2b;
}
/* Contact */

.contact-left{
    flex-basis: 45%;
}
.contact-right{
    flex-basis: 45%;
}

.contact-left p{
    margin-top: 40px;
    cursor: pointer;
}
.contact-left p i{
    color: #e22b2b;
    margin-right: 15px;
    font-size:25px ;
    cursor: pointer;
}

.social-icons a{
    text-decoration: none;
    font-size: 25px;
    margin-right: 15px;
    margin-top: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color:var(--text);
    transform: translateY(-5px);

}

.btn .btn2{
    display: inline-block;
    background: #080808;
}
.btn3{
    display: inline-block;
    background: #080808;
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #e22b2b;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
    cursor: pointer;
}
.btn3:hover{
    background: #e22b2b;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: white;
    padding: 15px;
    margin: 15px 0;
    color: #e22b2b;
    font-size: 18px;
    border-radius: 6px;
}

form .btn3{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copy{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-weight:300 ;
    margin-top: 20px;
    background: #e22b2b;
}

nav .bi{
    display: none;
}
/* Media Queries */
@media only screen and (max-width: 600px){

#header{
    background-image:url(images/min.jpg);
}

.header-text{
    margin-top: 100%;
    font-size: 16px;
}
.header-text h1{
    font-size: 30px;
}
nav .bi{
    display: block;
    font-size: 25px;
}
nav ul{
    background: #e22b2b;
    position: fixed;
    top: 0;
    right: -200px;
    width: 150px;
    height: 100vh;
    padding-top: 40px;
    z-index: 2;
}

nav ul li{
    display: block;
    margin: 25px;
}
nav ul .bi{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}
.sub{
    font-size: 2rem;
}
.about-col, .about-col1{
    flex-basis: 100%;
}
.about-col{
    margin-bottom: 30px ;
}
.about-col1{
    font-size:1.2rem ;
}
.tab-links{
    font-size: 16px;
    margin-right:20px ;
}
.btn .btn2 .btn3{
    font-size: 0.8rem;
    text-align: center;
    margin: auto 54px;
    padding: 10px 20px;
}
.contact-left, .contact-right{
    flex-basis: 100%;

}
.copy{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-weight:300 ;
    font-size: 10px;
    margin-top: 20px;
    background: #e22b2b;
}
.layer a{
    font-size: 12px;
}
.layer h3 {
    font-size: 1rem ;
    font-weight: 200;
    margin-bottom: 14px;
}
.layer p{
    font-size: 0.7rem ;
}
}
#msg{
    color: #e22b2b;
    display: block;
    margin-top: -20px;
}
